.list {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  margin: 1rem auto 0;
  max-width: 500px;
}
.loaderContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}
