.container {
  border: 2px solid var(--white);
  border-radius: 5px;
  padding: 0.5rem;
  background-color: rgba(19, 78, 94, 0.1);
}

.buttonContainer {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 0.5rem;
}

.editButton,
.deleteButton {
  padding: 0.3rem;
  border-radius: 5px;
  transition: 0.3s ease;
  cursor: pointer;
}

.editButton {
  background-color: var(--black);
  color: var(--white);
  border: 2px solid var(--black);
  &:hover {
    background-color: var(--white);
    border: 2px solid var(--white);
    color: var(--black);
  }
}

.deleteButton {
  background-color: var(--red1);
  border: 2px solid var(--red1);
  color: var(--red2);
  &:hover {
    background-color: var(--red2);
    border: 2px solid var(--red2);
    color: var(--red1);
  }
}
