.page {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  text-align: center;
}

.addLink {
  border: 2px solid var(--white);
  padding: 0.35rem;
  border-radius: 5px;
  background-color: rgba(19, 78, 94, 0.1);
  cursor: pointer;
  transition: 0.3s ease;

  &:hover {
    background-color: var(--white);
    color: var(--bodyGradient1);
  }
}
